## by chunk of 30

In [ ]:
from scholarly import scholarly
import pandas as pd

file_path = 'name.csv'
df_authors = pd.read_csv(file_path)

# Reformat the names from the CSV file to "FirstName LastName"
def reformat_name(name):
    split_name = name.split(',')
    if len(split_name) == 2:
        last_name, first_name = split_name[0].strip(), split_name[1].strip()
        return f"{first_name} {last_name}"
    return name

# Reformat names
df_authors['Formatted Names'] = df_authors.iloc[:, 0].apply(reformat_name)

# List of authors
authors_all = df_authors['Formatted Names'].tolist()

# Function to divide list into chunks of 30
def divide_chunks(lst, n):
    for i in range(0, len(lst), n):
        yield lst[i:i + n]

# Split the authors list into chunks of 30
author_chunks = list(divide_chunks(authors_all[30:], 30))

# Loop through each chunk and process
for idx, authors in enumerate(author_chunks, start=2):
    # Initialize an empty list to store paper data
    paper_data = []
    n = 0
    # Search Google Scholar for each author and retrieve their papers
    for author in authors:
        search_query = scholarly.search_author(author)
        author_obj = next(search_query, None)  # Fetch the first result for the author
        print(n)
        n+=1
        if author_obj:
            author_filled = scholarly.fill(author_obj)  # Retrieve full author details
            author_papers = author_filled['publications']
            for paper in author_papers:
                # Retrieve paper details: title
                title = paper.get('bib', {}).get('title', 'No title available')

                # Fetch publication year and convert it to integer if it exists
                year = paper.get('bib', {}).get('pub_year', None)
                if year is not None:
                    try:
                        year = int(year)  # Convert year to integer
                    except ValueError:
                        continue  # Skip this paper if the year is not a valid integer

                # Only include papers from 2022 to 2024
                if year and 2022 <= year <= 2024:
                    # Fetch abstract: Scholarly may not always provide an abstract
                    abstract = paper.get('bib', {}).get('abstract', 'No abstract available')

                    # Try to fill the paper's details, which might contain the abstract in some cases
                    paper_filled = scholarly.fill(paper)
                    if 'abstract' in paper_filled.get('bib', {}):
                        abstract = paper_filled['bib']['abstract']  # Update abstract if found

                    # Append the paper details
                    paper_data.append({
                        'Author': author,
                        'Title': title,
                        'Abstract': abstract,
                        'Year': year
                    })

    # Convert to a DataFrame
    df_papers = pd.DataFrame(paper_data)

    # Save the data to a CSV file for the current chunk
    output_csv_path = f'author_papers_2022_2024_part_{idx}.csv'
    df_papers.to_csv(output_csv_path, index=False)

    # Output the location of the saved CSV file for the current chunk
    print(f"Papers data for part {idx} saved to: {output_csv_path}")

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
Papers data for part 1 saved to: author_papers_2022_2024_part_1.csv
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23

In [2]:
import pandas as pd
file_path = 'name.csv'
df_authors = pd.read_csv(file_path)

In [3]:
df_authors

                      name
0              PARLA, AYSE
1         TIFFT, CHARLES P
2     SMITH-CROWE, KRISTIN
3       BETTINI, ELIZABETH
4           WHITTY, ADRIAN
...                    ...
3060         VOGT, MARISSA
3061            MA, QIANLI
3062         DIMANT, YAKOV
3063    ROGERS, ERNA SALLY
3064           HAZEN, ERIC

[3065 rows x 1 columns]